<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2">
    <%= render partial: "feeds/feed_list",
	locals: {feeds: Feed.all} %>
  </div>
  <div class="col-md-10">
    <%= render partial: "feeds/feed_entry_list",
	locals: {entries: @entries} %>
  </div>
</div>

<br>

<%= link_to 'New Feed', new_feed_path %>
